h1,h2{
  color: gold;
}

.myDiv{
  background-color: lightgrey;
}

h3{
  color: rgb(83, 136, 248);
}

.input_area{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input {
  display: flex;
  justify-content: space-around;
  width: 120px;
  border-radius: 0.3em;
}

input{
  height: 1.5em;
  border-radius: 1em;
}
.container{
  background-color: seagreen;
  display: inline-flex;
  padding: 1em;
  border-radius: 1em;
  flex-direction: column;
  align-items: center;
}

button{
  height: 2.5em;
  width: 100%;
  border-radius: 0.5em;
  border: none;
}

button:hover{
  cursor: pointer;
}


.volume{
  range: 0%;
}